<div>
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <div class="container">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Busca por Nickname</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Nickname</mat-label>
            <input matInput formControlName="firstCtrl" placeholder="..." [(ngModel)]="inputNickname" required>
          </mat-form-field>
          <div>
            <button mat-raised-button (click)="segundoPasso(stepper)">Buscar</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <div class="container">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Escolha dentre as opções</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Personagens</mat-label>
            <mat-select (selectionChange)="changeClient($event.value)">
              <mat-option *ngFor="let Nickname of listaNicknames" [value]="Nickname.id">
                {{Nickname.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext (click)="terceiroPasso(stepper)">Next</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step>
      <div class="container">
        <ng-template matStepLabel>Dados</ng-template>
        <p>Nome:{{RetornoDadosJogador.Name}}</p>
        <p>KilFame:{{RetornoDadosJogador.KillFame}}</p>
        <p>DeathFame:{{RetornoDadosJogador.DeathFame}}</p>
        <p>PVE Pontos:{{RetornoDadosJogador.LifetimeStatistics.PvE.Total}}</p>
        <p>Coleta Pontos:{{RetornoDadosJogador.LifetimeStatistics.Gathering.All.Total}}</p>
        <p>Crafting Pontos:{{RetornoDadosJogador.LifetimeStatistics.Crafting.Total}}</p>
        <p>Pesca Fama:{{RetornoDadosJogador.LifetimeStatistics.FishingFame}}</p>
        
        <div>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>