<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
  <a class="navbar-brand" routerLink="/Login" routerLinkActive="active">Brielina Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/Albion" routerLinkActive="active" >Albion</a>
      <a class="nav-item nav-link" routerLink="/Main" routerLinkActive="active" >Animais</a>
    </div>
  </div>
</nav>
